.Toolbar {
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #703B09;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
}

.Toolbar nav{
	height: 100%;
}

.Logo{
  Background-color: #fff;
  padding: 8px;
  height: 80%;
  box-sizing: border-box;
}

.Logo img{
  height: 100%;
  width: auto;
}

.NavMenu{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	height: 100%;
}

.NavItem{
	margin: 0;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	align-items: center;
}

.NavItem a{
	color: #fff;
	text-decoration: none;
	height: 100%;
	padding: 16px 10px;
	border-bottom: 4px solid transparent;
	box-sizing: border-box;
	display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active{
	background-color: #8f5c2c;
	border-bottom: 4px solid #40A4C8;
}

@media (max-width: 500px){
	.NavMenu{
		position: fixed;
		width: 280px;
		max-width: 70%;
		height: 100%;
		right: -70%;
		top: 0;
		z-index: 200;
		background-color: #fff;
		padding: 32px 16px;
		box-sizing: border-box;
		transition: right 0.3s ease;
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.NavMenu.Open{
		right: 0;
	}

	.NavItem{
		margin: 10px 0;
		width: 100%;
		height: auto;
		display: block;
	}

	.NavItem a{
		color: #8f5c2c;
		height: auto;
		width: 100%;
		padding: initial;
		border-bottom: unset;
		display: block;
	}

	.NavItem a:hover,
	.NavItem a:active,
	.NavItem a.active{
		background-color: unset;
		border-bottom: unset;
		color: #40A4C8;
	}

	.MenuBtn{
		height: 100%;
		display: flex;
		align-items: center;
		color: #fff;
		cursor: pointer;
	}

	.MenuBtn .Open{
		display: none;
	}

}

@media (min-width: 501px){
	.Mobile{
		display: none;
	}
}